.header-top{
	background: black;
	height: 25px;
}
.header-top-text{
	padding-top: 2px;
}
.header-top-text a{
	color: white;
	
}
.header-top-text p{
	color: white;
	
}
.header-top-text input{
	height: 22px;
	width: 245px;
}
.header-top-text button{
	height: 21px;
}
.heder{
	background: #C72929;
	height: 170px;
}
.header-left{
	    width: 240px;
    height: 200px;
    float:left;
}
.header-left img{
	height: 166px;
    width: 240px;

}
.container a{
	text-decoration: none;

}
.header-center{
	background: black;
	margin-top: 110px;
	height: 60px;
	width: 875px;
	margin-left: 245px;
	padding-top: 5px;
}
.header-center ul{
	list-style: none;
}
.header-center li{
	
	color: white;
}
.header-center-list{
	height: 55px;
	margin-left: 10px;
	width: 855px;
	
}
.header-center-menu{
	padding-top: 3px;
}
.header-center-menu a{
	color: white;
}
.menu{
	float: left;
	padding-left: 10px;
	width: 121px;
	
	height: 52px;
    padding-top: 18px;
}
.menu:hover{
	background-color: #E8E7E7;

}
.menu a{
	padding-left: 10px;
}
.menu:hover+.menu_text{
	color: black;
}
.banner-background{
    background: #E8E7E7;
    width: 100%;
    height: 500px;
}
.banner{
	padding-left: 120px;
    padding-top: 60px;
}
.banner img{
    width: 1105px;
}
.click-banner{
    padding-top: 20px;
}
.glyphicon-record{
	padding-left: 20px;
}
.icon-banner{
	width: 270px;
	margin: auto;
}
.slider{
	background-color: black;
	width: 100%;
	height: 230px;
}
.button-slider{
	float:left;
}
.center-slider{

}
.img-slider{
	float: left;
}